<a href="/"><button>HOME</button></a>


<div class="container my-3">
    <table class="table">
        <thead>
            <tr class="thead-dark">
                <th>아이템키</th><th>날짜</th><th>제목</th><th>작가</th>
            </tr>
        </thead>
        <tbody>
        {% for bt in BuycList %}
        <tr>
            <td>{{ bt.index }}</td>
            <td>{{ bt.price }}</td>
            <td>{{ bt.portal }}</td>
            <td>{{ bt.sales  }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>